body.pdf {    
    font-family: 'Hoefler Text',sans-serif;
    text-rendering: optimizeLegibility;
    background-color: #fff;
    color: #111;
    line-height: 1.25;
    font-size: 16pt;

    a {
        color: #000;
        text-decoration: none;
        border-bottom: .0625rem dotted;
    }
    
    h1,h2,h3,h4,h5,h6 {
      font-family: 'Akkurat';
      color: #222;
    }
    
    .container {
        width: 1000px;
        margin: 0 auto;
        padding: 0;
        background: none;
        border: none;
        text-align: left;
    }
}
